<!DOCTYPE html>
<html>
		<head>
				<title>Semix Put</title>
				<style> th, td {padding: 5px;} </style>
		</head>
		<body>
				<h1>Semix Put</h1>
				<h2>Results</h2>
				<div id='result-table'>
						<table>
								{{range .data.Tokens}}
								<tr>
										<td> {{.Token}} ({{.Begin}},{{.End}}) </td>
										<td> <a href="/info?q={{.ConceptURL}}">{{.ConceptURL}}</a> </td>
										<td> <a href="{{.Path}}">{{.Path}}</a> </td>
								</tr>
								{{end}}
						</table>
				</div>
				<div id='counts'>
						{{range .counts}}
						<p><a href="/info?q={{.URL}}">{{.URL}}</a> {{.Freq}}</p>
						{{end}}
				</div>
		</body>
</html>
